<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolzApp</title>

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>

    <!-- STYLE -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- VUEJS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.common.dev.min.js' integrity='sha512-PkyFg1MEb/EwsFAqzqvZqWdMT4ItV+E1NgOtfBC9X8UecJcO9bwirD+v/9tJwci4wTNHdNYBk4ev6ceb1hy73g==' crossorigin='anonymous'></script>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <!-- VUE APP -->
    <div id="app" :class="{dark: darkmode}">

        <!-- APP WINDOW -->
        <div class="container" :class="{dark: darkmode}">

            <!-- LEFT (ASIDE) -->
            <div class="left">

                <!-- HEADER -->
                <header :class="{dark: darkmode}">

                    <div class="user">
                        <img class="avatar" :src="'./img/avatar' + login.avatar + '.jpg'" :alt="login.name">
                        <h3 :class="{dark: darkmode}">{{login.name}}</h3>
                    </div>

                    <div class="functions">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </header>

                <!-- NOTIFICATIONS -->
                <div class="notification" :class="{dark: darkmode}">

                    <div class="avatar-container">
                        <i class="fas fa-bell-slash"></i>
                    </div>

                    <div class="on-notice">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>

                </div>

                <!-- SEARCHBAR -->
                <div class="searchbar" :class="{dark: darkmode}">
                    <i class="fas fa-search" @click="searchedUser"></i>
                    <input name="" placeholder="Cerca o inizia una nuova chat" v-model.trim="searchUser" @keyup="searchedUser">
                </div>

                <!-- CONTACTS -->
                <div class="contacts" :class="{dark: darkmode}">

                    <ul v-if="notFound">
                        <li @click="currentSelected(contact)" v-for="(contact, index) in contacts" :key="index + '-' + contact.avatar" v-if="contact.visible" :class="{active: contact.name == current.name}">
                            <img class="avatar" :src="`./img/avatar${contact.avatar}.jpg`" alt="">
                            <h3>{{contact.name}}</h3>
                        </li>
                    </ul>
                    <h2 v-else>
                        Non hai nessun {{tempName}} tra i contatti.
                    </h2>

                </div>

            </div>
            
            <!-- RIGHT SECTION -->
            <div class="right" :class="{dark: darkmode}">

                <div v-if="!ifSelected" class="access" :class="{dark: darkmode}">
                    <div class="img"></div>
                    <h2>Mantieni il telefono connesso</h2>
                    <div class="text">
                        WhatsApp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi.
                    </div>
                </div>

                <!-- HEADER -->
                <header :class="{dark: darkmode}" v-else>

                    <div class="left">
                        <img class="avatar" :src="'./img/avatar' + current.avatar + '.jpg'" alt="">
                        <div class="info">
                            <h3 :class="{dark: darkmode}">{{current.name}}</h3>
                            <span>Ultimo accesso il {{lastAccess}}</span>
                        </div>
                    </div>

                    <div class="right">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </header>

                <!-- CHAT MESSAGES -->
                <div id="chat-messages" class="chat-messages" v-show="ifSelected" @click="iconOff(); emoticonOff();">
                    
                    <ul>
                        <li v-for="(message, index) in current.messages" :key="index + '-' + message.message"class="message" v-bind:class="{rightMessage: message.status == 'sent'}">
                            <div class="message" v-bind:class="{color: message.status == 'sent', dark: darkmode}">
                                <div class="text">
                                    {{message.message}}
                                </div>
                                <div class="time">
                                    {{message.date}}
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                </div>

                <!-- EMOTICONS -->
                <div :class="{active: emoticonVisible, dark: darkmode}" class="emoticons">
                    <div class="emo-header">
                        <h3>Emoji</h3>
                    </div>
                    <div class="emo-container">
                        <ul>
                            <li @click="emojiInsert(emoji)" v-for="(emoji, index) in emoticons" :key="index + '-' + emoji.code">{{emoji.code}}</li>
                        </ul>
                    </div>
                </div>
                
                <!-- SENDBAR -->
                <div :class="{dark: darkmode, active: emoticonVisible}" class="sendbar" v-show="ifSelected">
                    <i @click="emoticonOff()" v-show="emoticonVisible" class="close fas fa-times"></i>
                    <i @click="emoticonOn()" class="far fa-smile"></i>
                    <input name="" placeholder="Scrivi un messaggio" v-model.trim="newTextMessage" @keyup.enter="sendMessage" @click="iconOn">
                    <div class="action-send">
                        <i class="fas fa-microphone" v-if="!iconVisible" @focus="iconOn"></i>
                        <i class="fas fa-paper-plane" @click="sendMessage" v-else></i>
                    </div>
                </div>

            </div>

        </div>

        <!-- DARKMODE ACTIVATION -->
        <div class="dark-button" :class="{dark: darkmode}" @click="darkmodeSwitch">
            <i v-if="darkmode" class="fas fa-sun"></i>
            <i v-else class="fas fa-moon"></i>
        </div>

    </div>

    <!-- JS -->
    <script src='./js/main.js'></script>
</body>
</html>